body{
    color: #444;
    font-family: "微軟正黑體";
    background: #fff;
}
h1, h2, h3, h4, h4, h5{
    font-weight: bold;
}
a{
    text-decoration: none;
}
h1{
    display: none;
}
.ft-fb{
    color: #0064da;
}
.ft-line{
    color: #00c155;
}
.ft-1{
    color: #9a0000;
}
.ft-2{
    color: #666;
}
.ft-3{
    color: #e78d35;
}
.ft-4{
    color: #e8569f;
}
.ft-5{
    color: #444;
}
.ft-6{
    font-size: 0.9rem;
}
.ft-7{
    color: #17a2b8;
}
.bk-1{
    background: #efefef;
    border-radius: 10px;
}

.header .menu .br-sty1{
    color: #9a0000;
    border: 2px solid #9a0000;
}
.header .menu-txt{
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px dotted #ccc;
}
.header .menu-txt .nav-link{
    color: #555;
}
.obj-btn{
    font-size: 1.1rem;
}
.obj-btn img{
    width: 68%;
}
.obj-btn a{
    text-decoration: none;
}
.report .card-text{
    max-height: 180px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.recommend h5{
    font-size: 1rem;
}
.recommend h6{
    font-size: 0.9rem;
}
.recommend{
    font-size: 0.9rem;
}
.recommend .card-body{
    height: 130px;
    overflow: hidden;
}
.msg h5{
    font-size: 1rem;
    color: #444;
}
.msg .card-text{
    font-size: 0.9rem;
    height: 88px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.info h3{
    font-size: 1.1rem;
}
.info{
    font-size: 0.9rem;
}
.event, .news{
    font-size: 1rem;
}
.event a{
    color: #999;;
}
.news a{
    color: #666;
}
.ellipsis{
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.about h3{
    font-size: 1.2rem;
}
.about h4{
    font-size: 1rem;
}
.sponsor h5{
    font-size: 1.1rem;
}
.sponsor .sponsor-txt{
    font-size: 0.9rem;
    height: 88px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.share-btn{
    color:#fff;
}
.share-photo .photo-alt{
    font-size: 0.8rem;
}
.share-photo h5{
    font-size: 1rem;
}
.share-youtube h5{
    font-size: 1rem;
}
.share-youtube .youtube-alt h5{
    font-size: 1rem;
    line-height: 1.5rem;
    height: 48px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.share-youtube .youtube-txt{
    font-size: 0.9rem;
}
.youtube-temple{
    font-size: 0.9rem;
}
.youtube-temple h5{
    font-size: 1rem;
}
.youtube-show{
    font-size: 1rem;
}
.youtube-show-alt{
    font-size: 0.9rem;
    color: #666;
}
.temple-news h5{
    font-size: 1rem;
}
.temple-news{
    font-size: 0.9rem;
    color: #666;
}
.news-alt{
    color: #999;
}
.news-txt{
    height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.report-list h4{
    font-size: 1.1rem;
}
.report-list .txt{
    font-size:0.9rem;
    height: 65px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.report-show-alt{
    color: #999;
    font-size: 0.9rem;
}

.temple-photo .b-photo{
    position: relative;
    overflow: hidden;
}
.temple-photo .b-photo .photo-alt{
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.temple-msg{
    font-size: 1rem;
}

.footer{
    background: #efefef;
    font-size: 0.95rem;
    color: #666;
}
.footer-btn{
    background: #efefef;
    color: #444;
    border-top: 1px solid #ccc;
}
.footer-btn .sp-1{
    font-size: 1.6rem;
}
.footer-btn a{
    color: #444;
}
.mt-6{
    margin-top: 65px;
}