body{
    color: #444;
    font-family: "微軟正黑體";
}
h1, h2, h3, h4, h4, h5{
    font-weight: bold;
}
a{
    color: #444;
    text-decoration: none;
}
a:hover{
    color: #c92929;
}
.ft-1{
    color: #9a0000;
}
.ft-2{
    color: #069;
}
.ft-3{
    color: #06c755;
}
.ft-4{
    color: #999;
}
.ft-5{
    color: #17a2b8;
}
.ft-fb{
    color: #0064da;
}
.ft-line{
    color: #00c155;
}

.bk-1{
    background-color: #efefef;
    border: none;
    border-radius: 10px;
}
.bk-2{
    background: #ccc;
    color: #666;
}
.bk-fb{
    background: #0064da;
    color: #fff;
    font-size: 0.8rem;
    width: 40%;
}
.bk-line{
    background: #00c155;
    color: #fff;
    font-size: 0.8rem;
    width: 40%;
}
.br-1{
    border-bottom: 1px dotted #ccc;
}
.br-2{
    border-bottom: 1px solid #555;
}
.undis{
    display: none;
}
.header .alt{
    font-size: 0.9rem;
    color: #666;
    line-height: 1.2rem;
}
.header .menu{
    font-size: 1rem;
    font-weight: bold;
}
.header .menu a{
    color: #444;
    text-decoration: none;
}
.header .menu a:hover{
    color: #c92929;
    border-bottom: 2px solid #c92929;
    padding-bottom: 5px;
}
.header .menu .active{
    color: #c92929;
    border-bottom: 2px solid #c92929;
    padding-bottom: 5px;
}
.header-title{
    border-top: 1px solid #ccc;
    background: #efefef;
    color: #9a0000;
}
.header-title h3 .sp-1{
    border-bottom: 2px solid #ccc;
}
.header .sp-1{
    font-size: 1.6rem;
}
.b-bn{
    border-top: 2px solid #ccc;
}
.main h2, .main h3{
    font-size: 1.6rem;
}
.main .sp-1{
    border-bottom: 2px solid #ccc;
}
.main .sp-2{
    border-bottom: 2px solid #c92929;
}
.main .recommend .t-1{
    font-size: 1rem;
    font-weight: bold;
}
.main .recommend .t-1 a{
    color: #9a0000;
}
.main .recommend .t-2{
    font-size: 0.9rem;
}
.main .recommend .card-body{
    min-height: 110px;
    font-size: 0.9rem;
}
.mian .recommend .card .photo{
    position: relative;
}
.main .recommend .card .photo .tag{
    position: absolute;
    font-size: 0.9rem;
    top: 145px;
    left: 5px;
}
.main .direction .card-body{
    color: #efefef;
}
.main .direction h5{
    font-size: 1.6rem;
    font-weight: bold;
}
.main .direction a{
    color: #fff;
}
.main .direction a:hover{
    color: #ff0;
}
.main .direction .card-body{
    height: 120px;
}
.main .direction .bk-1{
    background: url(../img/dir_bk01.webp) no-repeat;
    border-radius: 10px;
}
.main .direction .bk-2{
    background: url(../img/dir_bk02.webp) no-repeat;
    border-radius: 10px;
}
.main .direction .bk-3{
    background: url(../img/dir_bk03.webp) no-repeat;
    border-radius: 10px;
}
.main .direction .bk-4{
    background: url(../img/dir_bk04.webp) no-repeat;
    border-radius: 10px;
}
.main .direction .bk-5{
    background: url(../img/dir_bk05.webp) no-repeat;
    border-radius: 10px;
}
.main .direction .bk-6{
    background: url(../img/dir_bk06.webp) no-repeat;
    border-radius: 10px;
}
.main .report .card-title{
    max-height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main .report .card-text{
    max-height: 180px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.main .report-show{
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #666;
}
.main .msg .card-title{
    font-weight: bold;
}
.main .msg .card-title small{
    font-size: 0.9rem;
}
.main .msg .card-text{
    font-size: 1rem;
    height: 70px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.main .god .god-name{
    height: 70px;
}
.main .sponsor h5{
    font-weight: bold;
}
.main .sponsor h6{
    color: #666;
}
.main .sponsor .sponsor-txt{
    height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}
.main .event .card-title{
    font-weight: bold;
}
.main .event-menu .item{
    color: #efefef;
}
.main .event-menu h5{
    font-weight: bold;
}
.main .event-menu .bk-1{
    background: url(../img/obj_bk01.webp) no-repeat;
    border-radius: 10px;
}
.main .event-menu .bk-2{
    background: url(../img/obj_bk02.webp) no-repeat;
    border-radius: 10px;
}
.main .event .card-text{
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main .news h5{
    font-weight: bold;
}
.main .news .news-txt{
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.main .youtube h5{
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1rem;
    line-height: 1.5rem;
}
.main .youtube .youtube-txt{
    color: #999;
    font-size: 0.9rem;
}
.main .share-menu .nav-item{
    font-size: 1.2rem;
}
.main .photo .photo-alt h5{
    font-size: 1rem;
}
.main .direction_card .direction_card_txt{
    color: #666;
    font-size: 1.1rem;
}
.main .about{
    font-size: 1.1rem;
    line-height: 1.8rem;
}
.main .about a{
    color: #069;
}
.main .about a:hover{
    color: #9a0000;
}
.main .temple-list .list-txt{
    line-height: 1.8rem;
    font-size: #999;
}
.main .temple-list .list-txt h4 a{
    color: #9a0000;
}
.main .temple-list .list-txt a{
    color:#069;
}
.main .temple-list .list-txt a:hover{
    color: #9a0000;
}
.main .temple-list .list-txt .temple-alt{
    height: 80px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    color:#666;
}
.main .temple-list .temple-box{
    width: 80px;
    height: 80px;
    float: right;
    color: #fff;
    border-radius: 100px;
}
.main .temple-list .temple-box .ft-1{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}
.main .temple-list .temple-box .ft-2{
    font-size: 1.8rem;
    line-height: 1.8rem;
    color: #fff;
}
.main .search-tool{
    font-size: 0.9rem;
}
.main .search-tool .active{
    color:#069;
    font-weight: bold;
}

.share-btn .bgset{
    background-attachment: fixed;
    background-position: center;
    height: 120px;
    color: #ccc;
    font-size: 1rem;
}
.share-btn .bgset .title{
    font-size: 1.5rem;
}
.share-btn a{
    color: #fff;
}
.share-btn a:hover{
    color: #ff0;
}
.share-btn .bg-1{
    background: url(../img/share_btn_1.jpg) no-repeat;
}
.share-btn .bg-2{
    background: url(../img/share_btn_2.jpg) no-repeat;
}
.share-btn .bg-3{
    background: url(../img/share_btn_3.jpg) no-repeat;
}

.search-box .in-sty1{
    border: 3px solid #ffc107;
}
.search-link{
    font-size: 0.9rem;
}

.temple .title{
    font-size: 1.2rem;
}
.temple .title small{
    font-size: 1rem;
    font-weight: normal;
}
.temple .title .obj-txt{
    font-size: 0.9rem;
}
.temple .photo .b-photo{
    position: relative;
    overflow: hidden;
}
.temple .photo .b-photo .photo-alt{
    position: absolute;
    bottom: 0;
    background: #000;
    width: 100%;
    color: #fff;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.temple .photo .m-photo{
    height: 149px;
    overflow: hidden;
}
.temple .temple-menu{
    font-weight: bold;
    font-size: 1.3rem;
}
.temple .temple-menu a{
    color: #444;
    border-bottom: 2px solid #fff;
}
.temple .temple-menu a:hover, .temple .temple-menu .active{
    color: #c92929;
    border-bottom: 2px solid #c92929;
}
.temple .temple-about .temple-about-text{
    font-size: 1.1rem;
    line-height: 1.8rem;
    color: #666;
}
.temple .temple-service{
    font-size: 1.1rem;
    line-height: 1.6rem;
}
.temple .event-list{
    font-size: 1.1rem;
}
.temple .news-list{
    font-size: 1.1rem;
}
.temple .news-list h4{
    font-size: 1.2rem;
}
.temple .news-list h6{
    color: #999;
}
.temple .news-list .news-txt{
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #666;
}
.temple .photo-list{
    font-size: 0.9rem;
}
.temple .photo-list a{
    color: #06F;
}
.temple .photo-list a:hover{
    color: #9a0000;
}
.temple .youtube-list .card{
    height: 320px;
}
.temple .youtube-list .card .card-title{
    font-size: 1rem;
    color: #9a0000;
    max-height: 36px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.temple-info a{
    color: #069;
}
.temple-info a:hover{
    color: #9a0000;
}
.temple .temple-msg-show{
    font-size: 1.1rem;
}
.temple-vip .god img{
    border-radius: 200px;
}

.footer{
    color: #999;
}

.footer dt{
    color: #fff;
}
.footer a{
    color: #999;
}
.footer a:hover{
    color:#ff0;
}
.ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.parent {
    overflow:hidden;
    position: relative;
}
.btn-left{
    position: absolute;
    left: -50px;
}
.btn-right{
    position: absolute;
    right: -50px;
}